@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("fonts/Outfit-Regular.ttf");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 200 900;
    font-stretch: 100%;
    font-display: swap;
    src: url('fonts/Inconsolata-Light.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: black;
}

p {
    font-size: 20px;
}

canvas {
    width: 800px;
    height: 600px;
    background-color: black;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    align-self: center;
    color: white;
    float: right;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.button {
    display: flex;
    justify-content: center;
    align-items: stretch;

    position: relative;
}

.inconsolata {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 400;
}


.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.container-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    overflow: hidden;

}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;

    opacity: 0;
}

.active-bg {
    opacity: 0.3;
}

.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;

    opacity: 0;

    z-index: 5;

    transition: opacity 1s ease-in-out;
}

.empty {
    width: 100%;
    visibility: hidden;
}

.empty-left {
    background-color: red;
    width: 10%;
    height: 60%;
    visibility: hidden;
    float: left;
}

.empty-right {
    background-color: red;
    width: 10%;
    height: 60%;
    visibility: hidden;
    float: right;
}

.descripcion {
    margin-left: auto;
    font-size: medium;
}

.container {
    width: 100%;

    /*Muy interesante el flex, lo que hay abajo y el lateral-empty es de IA
    Lo que permite es que en un "contenedor" puedes poner las cosas casi como quiras
    y junto con justify-content permite decir como se alinea las cosas de que estan en el container
    
    align-items se utiliza para autoajustar las alturas de los contenedores vacios
    */
    display: flex;
    justify-content: center;
    align-items: stretch;

    position: relative;

    color: white;
}

.container .lateral-empty {
    width: 10%;
}

.container h1 {
    text-align: center;
}



.center-content {
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;

    text-align: center;
}




.equipo {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: stretch;



}

.center {
    width: 80%;

    border-spacing: 5px;
    border-collapse: separate;
    display: table;

    color: white;
}

.equipo .lateral-empty {
    width: 10%;
}

.equipo p {
    color: white;
}

.equipo table {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
    display: table;
}



.equipo table td {
    width: 25%;

    padding: 5px;

    text-align: center;

    line-height: 0;
}

.boceto-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
}

.boceto-member-cell {
    width: 33%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boceto-member-name {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.profile-picture {
    max-width: 100%;
    max-height: 100%;

    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.team-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 0 auto;
}

.team-row-pictures {
    display: flex;
    height: 80%;
    /* Ocupa el 80% de la altura del .team-grid */
}

.team-row-names {
    display: flex;
    height: 20%;
    /* Ocupa el 20% de la altura del .team-grid */
    align-items: center;
}

.team-member-cell {
    width: 25%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-member-name {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-member-name p {
    font-size: 25px;
    margin: 0;

}

.actualizaciones {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: stretch;

    background-color: black;
    color: white
}

.contacto {
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    height: 200px;
    position: relative;
}

.contacto-col-left {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
}

.contacto-col-right {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
}



.contacto-divider {
    /* Posición absoluta para centrarla en el contenedor .contacto (que es relative) */
    position: absolute;
    top: 5%;
    /* Empieza un poco menos de arriba (5%) */
    bottom: 5%;
    /* Termina un poco más arriba del abajo (95% de altura total) */
    left: 50%;
    /* Centrada horizontalmente */
    transform: translateX(-50%);
    /* Ajusta al centro exacto */

    width: 2px;
    /* Grosor de la línea */
    background-color: rgb(55, 53, 53);
    /* Color de la línea */
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.link-icon {
    width: 20px;
    height: 20px;

    margin-right: 8px;
}

.list-actualizacion {
    width: 80%;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: left;
}